@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: cascadia;
    src: url("C:\\Users\\Exam\\Desktop\\Angular\\todo-1\\assets\\fonts\\CascadiaCode.ttf") format("truetype");
}

body{
    box-sizing: border-box;
    padding: 10px;
    margin: 0;
    font-family: 'cascadia', 'arial', sans-serif;
}